@import '@styles/colors';

.mainWrapper {
  box-sizing: border-box;

  height: 100vh;

  padding-bottom: 25px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr;

  .content {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 260px 1fr 368px;
    gap: 30px;
  }
}
