.btn {
  background: linear-gradient(135deg, #ffd653 1.81%, #ef4b23 40%, #ef4b23 57%, #ffd653 98.29%),
    #f5f7f7;
  background-size: 200% 200%;
  background-position: 0 0;

  border-radius: 15px;

  border: none;
  outline: none;

  color: white;

  cursor: pointer;

  transition: background-position 200ms ease-in-out;

  &:hover {
    background-position: 100% 100%;
  }

  &:disabled {
    transition: none;
    background: gray;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
