$gray-2: #b5bebd;
$gray-6: #fafafa;
$error: #eb5757;
$green-1: #345d57;
$green-2: #426864;
$green-3: #043730;
$green-4: #0c959d;
$green-5: #8bf3e1;
$green-6: #dce8e6;
$gray-1: #f5f7f7;
$gray-4: #cddad8;
$gray-5: #868b8b;
