.leftSideWrapper {
  position: absolute;
  left: 0;

  transition: left ease-in-out 1s;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 250px;
  row-gap: 30px;

  width: 260px;
  height: calc(100% - 25px - 90px);

  &.collapsed {
    left: calc(-1 * (260px + 25px));
  }

  &.teacher {
    grid-template-rows: 100px 1fr;
  }
}
