@import '@styles/grid';

.rightSide {
  position: absolute;
  right: 0;

  transition: right ease-in-out 1s;

  width: grid-width(4);
  height: calc(100% - 25px - 90px);

  &.collapsed {
    right: calc(-1 * (grid-width(4) + 25px));
  }
}
